@using TechSurvey.MVC.Areas.Admin.Models.DTOs;
@model QuestionCreateDTO;

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets_adminpanel/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/assets_adminpanel/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets_adminpanel/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets_adminpanel/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets_adminpanel/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets_adminpanel/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/assets_adminpanel/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/assets_adminpanel/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets_adminpanel/js/config.js"></script>

    <title>Create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            background: #edf1f5;
            margin-top: 20px;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid transparent;
            border-radius: 0;
        }

        .btn-circle.btn-lg, .btn-group-lg > .btn-circle.btn {
            width: 50px;
            height: 50px;
            padding: 14px 15px;
            font-size: 18px;
            line-height: 23px;
        }

        .text-muted {
            color: #8898aa !important;
        }

        [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
            cursor: pointer;
        }

        .btn-circle {
            border-radius: 100%;
            width: 40px;
            height: 40px;
            padding: 10px;
        }

        .user-table tbody tr .category-select {
            max-width: 150px;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <h3>Add Questions</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label asp-for="@Model.Number" class="form-label">Enter Question Number</label>
                    <input asp-for="@Model.Number" class="form-control">
                    <span asp-validation-for="@Model.Number" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Content" class="form-label">Enter Question Content</label>
                    <input asp-for="@Model.Content" class="form-control">
                    <span asp-validation-for="@Model.Content" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Choices" class="form-label">Enter Question Choices</label>
                    <input asp-for="@Model.Choices" class="form-control">
                    <span asp-validation-for="@Model.Choices" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    @foreach (var question in Model.Questions)
                    {
                        <tr>
                            <td>
                                @question.Number
                            </td>
                            <td>
                                @question.Content
                            </td>
                            <td class="card-body">
                                <ul class="list-group">
                                    @foreach (var choice in question.Choices)
                                    {
                                        <label asp-for="@choice.Choice1" class="form-label">A</label>
                                        <input asp-for="@choice.Choice1" class="form-control">
                                        <span asp-validation-for="@choice.Choice1" class="text-danger"></span>
                                        <label asp-for="@choice.Choice2" class="form-label">B</label>
                                        <input asp-for="@choice.Choice2" class="form-control">
                                        <span asp-validation-for="@choice.Choice2" class="text-danger"></span>
                                        <label asp-for="@choice.Choice3" class="form-label">C</label>
                                        <input asp-for="@choice.Choice3" class="form-control">
                                        <span asp-validation-for="@choice.Choice3" class="text-danger"></span>
                                        <label asp-for="@choice.Choice4" class="form-label">D</label>
                                        <input asp-for="@choice.Choice4" class="form-control">
                                        <span asp-validation-for="@choice.Choice4" class="text-danger"></span>
                                        <label asp-for="@choice.Choice5" class="form-label">D</label>
                                        <input asp-for="@choice.Choice5" class="form-control">
                                        <span asp-validation-for="@choice.Choice5" class="text-danger"></span>
                                    }
                                </ul>
                            </td>
                            <td>
                                <a class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" asp-area="Admin" asp-controller="Question" asp-action="Delete" asp-route-id="@question.Id"><i class="fa fa-trash"></i></a>
                                <a class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" asp-area="Admin" asp-controller="Question" asp-action="Edit" asp-route-id="@question.Id"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    }
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
                <a class="btn btn-primary" asp-action="Index">Back</a>
            </form>
        </div>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>

    <!-- Core JS -->
    <!-- build:js assets_adminpanel/vendor/js/core.js -->
    <script src="~/assets_adminpanel/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets_adminpanel/vendor/libs/popper/popper.js"></script>
    <script src="~/assets_adminpanel/vendor/js/bootstrap.js"></script>
    <script src="~/assets_adminpanel/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/assets_adminpanel/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/assets_adminpanel/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/assets_adminpanel/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/assets_adminpanel/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
