@using TechSurvey.MVC.Areas.Admin.Models.DTOs;
@model QuestionCreateDTO;

@{
    Layout = null;
}
<!-- Bootstrap CSS -->
<link href="~/assets_homepage/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="~/assets_homepage/css/tiny-slider.css" rel="stylesheet">
<link href="~/assets_homepage/css/style.css" rel="stylesheet">


<div class="card">
    <div class="card-header">
        <h3>Add Questions</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="@Model.Number" class="form-label">Enter Number</label>
                <input asp-for="@Model.Number" class="form-control">
                <span asp-validation-for="@Model.Number" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Content" class="form-label">Enter Content</label>
                <input asp-for="@Model.Content" class="form-control">
                <span asp-validation-for="@Model.Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @foreach(var item in Model.Choices)
                {
                    <label asp-for="@Model.Choices" class="form-label">Enter Choices</label>
                    <input asp-for="@Model.Choices" class="form-control" asp-items="@ViewBag.Choice">
                    <span asp-validation-for="@Model.Choices" class="text-danger"></span>
                }
                
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="reset" class="btn btn-success">Reset</button>
            </div>
            <a class="btn btn-primary" asp-action="Index">Back</a>
        </form>
    </div>
</div>
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
